@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');


body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

/* Permet de définir l'écran de base  */
#container {
    width: 100%;
    max-width: 992px;
    display: flex;
    flex-direction: column;
}



/* Mettre meme style sur toute la feuille concernant balise A et les menus  */
a {
    text-decoration: none;
    color: inherit;
}

.euros {
    font-weight: bold;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* couleur des etoiles */
.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

/***********
*   MENU   *
***********/

.site-header {
    display: flex;
    justify-content: space-between;
}

.menu-header {
    display: flex;
}

.header-menu {
    list-style: none;
    padding: 30px;
}

.border-blue {
    border-top: 1px solid;
    border-color: blue;
    color: blue;
}

/****************
*   RECHERCHE   *
****************/

form {
    display: flex;
}

.loupe {
    display: none;
}

.localisation {
    align-self: center;
}

button {
    margin: 0;
    background: #0065fc;
    color: white;
    font-weight: 900;
    padding: 0 10px;
    border-radius: 0 30px 30px 0;
    border: none;
}

label {
    background: #f2f2f2;
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*************
*   FILTRE   *
*************/
.filtre {
    display: flex;
    align-items: center;
}

.critere {
    display: flex;
    list-style: none;
}

.filtre-recherche {
    display: flex;
    list-style: none;
    align-items: center;
}

.filtre-recherche i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #0065FC;
    background-color: #a1c5fc;
    border-radius: 50%;
    z-index: 2;
}

.filtre-recherche p {
    position: relative;
    right: 20px;
    height: 44px;
    padding: 0px 15px 0px 30px;
    border: 3px solid #f2f2f2;
    border-radius: 0 25px 25px 0;
    white-space: nowrap;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.filtre-recherche :hover {
    border-color: #0065FC;
}

.search-filtre{
    font-weight: bold;
}

.info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.info i {
    display: flex;
    border: 1px solid;
    align-items: center;
    font-size: 0.7rem;
    justify-content: center;
    border-color: #c9c9c9;
    margin-right: 10px;
    color: #0065FC;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

/******************
*   HEBERGEMENT   *
******************/

#hebergement_populaire .hebergement_contour, #hebergement_populaire .populaire_contour {
    background-color: #F2F2F2;
    border-radius: 20px;
}

#hebergement_populaire {
    display: flex;
    justify-content: space-between;
}

.hebergement_contour {
    width: 65%;
}

.container_hebergement {
    padding: 10px 10px 5px 10px;
    box-sizing: content-box;
}

.all_hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all_hebergement a {
    width: 32%;
    margin-bottom: 50px;
}

.lieu_hebergement {
    background-color: white;
    padding: 3px;
    border-radius: 25px;
    height: 100%;
}

.lieu_hebergement:hover {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.lieu_hebergement img {
    width: 100%;
    height: 150px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.card-text {
    padding: 5px 5px 0px 5px;
}

.card-text h4, .card-text p {
    margin: 2px;
}

.moreinfo {
    font-weight: bold;
    font-size: 110%;
}

/****************
*   POPULAIRE   *
****************/

.ligne_populaire {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.container_populaire {
    padding: 20px 20px 10px 20px;
    box-sizing: content-box;
}

.populaire_contour {
    width: 33%;
    position: relative;
}

.icon_pop {
    justify-self: center;
}

.all_populaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all_populaire a {
    width: 100%;
    margin-bottom: 40px;
}

.lieu_populaire {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 6px;
    border-radius: 25px;
    height: 100%;
}

.lieu_populaire:hover {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.lieu_populaire img {
    height: 150px;
    border-radius: 25px 0px 0px 25px;
    width: 35%;
    object-fit: cover;
}

.card_text_populaire {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
}

.card_text_populaire h4, .card_text_populaire p {
    margin: 6px;
}

/***************
*   ACTIVITE   *
***************/

.all_activite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.colonne_seule {
    display: flex;
    flex-direction: column;
    width: 23%;

}

.article_activite {
    border-radius: 25px;
}

.calanque {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.colonne_double {
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-content: space-between;
}

.vieux_port {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.pomegues_longchamp {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.frioul_garde {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.article_activite {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.card_text_activite h4{
    padding-bottom: 21px;
    margin-left: 15px;
    font-weight: bold;

}

/************************* 
    AGIT SUR LE FOOTER 
*************************/

footer {
    display: flex;
    padding: 40px 50px 50px;
    margin-top: 5%;
    background-color: #f2f2f2;
}

footer div {
    flex: 1;
}

footer li {
    margin-bottom: 15px;
}

footer h3 {
    font-size: 14px;
    font-weight: bold;
}

footer p {
    font-size: 12px;
}

/***********************************
*   AGIT SUR LA PARTIE TABLETTE    *
***********************************/

@media all and (min-width: 769px) and (max-width: 991px) {
    body {
        padding: 0px 20px;
    }

    #container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .site-header {
        display: flex;
        flex-direction: column;
    }

    header #logo {
        margin: auto;
    }

    .menu-header {
        margin: 0px -20px;
        padding: 0;
        flex-direction: row-reverse;
    }

    .header-menu {
        width: 50%;
        padding: 20px;
        text-align: center;
        margin: 0px;
    }

    .border-blue {
        border-top: none;
        border-bottom: 1px solid;
        border-color: blue;
        color: blue;
    }

    .text_intro {
        text-align: center;
    }

    .search-button {
        display: none;
    }

    .boutton_recherche {
        justify-content: center;
    }

    .loupe {
        display: block;

    }

    button{
        border-radius: 15px;
        margin-left: -15px;
    }

    .filtre{
        display: flex;
        flex-wrap: wrap;
    }

    .critere{
        display: flex;
        flex-wrap: wrap;
    }
    .tablette_reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    #activite{
        order: 1;
    }
    .hebergement_contour{
        order: 3;
    }

    .populaire_contour{
        order: 2;
    }

    #hebergement_populaire{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .all_hebergement {
        flex-direction: column ;
    }

    .hebergement_contour{
        width: 100%;
    }

    .all_hebergement a{
        width: 100%;
    }

    .populaire_contour{
        width: 100%;
        margin-bottom: 30px;
    }

    .all_activite{
        flex-direction: column;
    }
    
    .colonne_seule{
        width: 100%;
    }
    
    .colonne_double{
        width: 100%;
    }

    .article_activite img{
        height: 250px;
    }

}

/************************************
*   AGIT SUR LA PARTIE TELEPHONE    *
************************************/

@media screen and (max-width: 768px) {
    body {
        padding: 0px 20px;
    }

    #container {
        width: 100%;
        max-width: 768px;
        display: flex;
        flex-direction: column;
    }

    .site-header {
        display: flex;
        flex-direction: column;
    }

    header #logo {
        margin: auto;
    }

    .menu-header {
        margin: 0px -20px;
        padding: 0;

    }

    .header-menu {
        width: 50%;
        padding: 20px;
        text-align: center;
        margin: 0px;
    }

    .border-blue {
        border-top: none;
        border-bottom: 1px solid;
        border-color: blue;
        color: blue;
    }

    .text_intro {
        text-align: center;
    }

    .search-button {
        display: none;
    }

    .boutton_recherche {
        justify-content: center;
    }

    .loupe {
        display: block;

    }

    button{
        border-radius: 15px;
        margin-left: -15px;
    }

    .filtre{
        display: flex;
        flex-wrap: wrap;
    }

    .critere{
        display: flex;
        flex-wrap: wrap;
    }
    
    .hebergement_contour{
        order: 2;
    }

    .populaire_contour{
        order: 1;
    }

    #hebergement_populaire{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .all_hebergement {
        flex-direction: column ;
    }

    .hebergement_contour{
        width: 100%;
    }

    .all_hebergement a{
        width: 100%;
    }

    .populaire_contour{
        width: 100%;
        margin-bottom: 30px;
    }

    .all_activite{
        flex-direction: column;
    }
    
    .colonne_seule{
        width: 100%;
    }
    
    .colonne_double{
        width: 100%;
    }

    .article_activite img{
        height: 250px;
    }

    footer{
        flex-direction: column;
    }
}